*{
	font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;	
}
header{
    display: flex;
    justify-content: center;    
	background: #282828;
}
.container{
    display: flex;
    flex-direction: column;
} 
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 55px;
}
.menu{
    display: flex;
    align-items: center;
    padding-top:10px;
	padding-bottom:10px;
    font-size: 20px;
}
.destaque_menu{
    background-color: #bda169;
    height: 8px;
    width: 100%;
    border: 1px solid #7e5f0d;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;    
}
nav .active a,
nav a:hover {
    background-color: #bda169;
    color: #ffffff;
}
#banner_paul{
    display: flex;
    background-color: rgb(16, 16, 16);
    background-position: center;
    background-size:cover;
    height: auto;
}
.banner_img{
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 140px;
}
.banner_desc h1{
    color: #bda169;
    font-size: 80px;
    text-shadow: 0px 2px 0px #7e5f0d;
    margin: 0;
    padding: 0;
    margin-top: 140px;
    text-align: center;
}
.banner_desc h2{
    color: #bda169;
    font-size: 40px;
    text-shadow: 0px 2px 0px #7e5f0d;
    margin: 0;
    padding: 0;
    text-align: center;
}
#geral{
    background-color: #2c3e50;
    padding: 20px;
}
.img_biblio{
    display: flex;
    justify-content: center;
}
.img_biblio img{
    width: 400px;
    border: 2px solid #bda169;
    border-radius: 2px;
}
.img_biblio figcaption{
    text-align: center;
    color: #7e5f0d;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.biblio_title{
   font-size: 40px;
   color: #ffffff;
   font-weight: bold;
}
.widget_title_bar{
    width:60px;
    height: 3px;
    background-color: #7e5f0d;
    margin-top: 2px;
}
.Biogra_resumo{
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: justify;
}

#geral_carreira{
    background-color: #282828;
    padding: 20px;
}
.img_car{
    display: flex;
    flex-direction: row;    
}
.img_car img{
    width: 400px;
    border: 2px solid #bda169;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 18px;
}
.img_mort{
    display: flex;
    flex-direction: row; 
}
.img_mort img{
    width: 350px;
    border: 2px solid #bda169;
    border-radius: 2px;
    margin-right: 20px;
    margin-top: 25px;
}
#Filmografia{
    background-color: #282828;
    padding: 20px;
}
#Premios{
    background-color: #2c3e50;
    padding: 20px;
}
.fil_tab{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}
.f{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.fil_tab tr, td, th{        
    border: 1px solid #5c5b5b;
    padding: 10px;
    color: #ffffff;
}
#tab_col{
    background-color: #5c5b5b;
    text-align: center;
    font-weight: bold;
}
#pre_venceu{
    background-color:lightgreen;
    color: black;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #282828;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #ffffff;  
}
footer a:hover{
    background-color: #bda169;
    color: #ffffff;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #bda169;
}
@media (max-width:850px){
    header{
        height: auto;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #282828;
    }
    .menuMobile{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #banner_paul{
        display: flex;
        flex-direction: column;
    }
    .banner_img{
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .banner_desc h1{
        font-size: 50px;
        margin-top: 0;
    }
    .banner_desc h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .img_biblio img{
        margin-top: 30px;
    }
    .img_car{
        flex-direction: column;
    }
    .img_biblio img{
        width: 300px;
    }
    .img_car img{
        margin-left: 0;
        margin-top: 0;
        width: 300px;
    }
    .logo img {
        width: 90px;
    }
    .car_img{
        display: flex;
        justify-content: center;
    }
    .img_mort{
        flex-direction: column;
    }
}